body {
  width: 100%;
  align-content: center;
}

button {
  background-color: white;
  border-radius: 5px;
  padding: 10px 40px;
}
input {
  border-radius: 10px;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

form {
  width: 30%;
  height: 30%;
  margin: auto;
}
p {
  margin-bottom: 10px;
}
